{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Propertea</title>
    <link rel="icon" href="{% static  "favicon.ico" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        html, body {
            height: 100%;
        }

        .center {
            height: 100%;
            width: 100%;
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light fixed-top">
        <a></a>
        <form action="/users" class="form-inline">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </nav>
    <nav class="navbar navbar-light bg-light fixed-bottom">
        <a href="/">Select property by search instead</a>
        <a>© 2020 Propertea</a>
    </nav>

    <table class='center'>
        <tr>
            <td>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="{% static  "sgmap.png" %}" width=45% />
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <form action ="/search" method = "get">
                                <div class="form-group">
                                    <label for="keyword"></label>
                                    <input type="text" class="form-control" name = "keyword" id="keyword" placeholder="Enter property name, address or postal code">
                                </div>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>
                        </div>
                        <div class="col-sm-3"></div>
                        </div>
                </div>
            </td>
        </tr>
    </table>


</body>

</html>
