{% extends 'registration/base.html' %}
{% load static %}
{% block content %}
    <form class="form-signin" method="post">
        {% csrf_token %}
        <br>
        {% if validlink %}
            <div class="container">
                {% for field in form %}
                    <div class="row">
                        <div class="col col-lg-5" align="right">
                            {{ field.label_tag }}
                    </div>
                        <div class="col-lg-auto">
                            {{ field }}
                    </div>
                    {% if field.help_text %}
                        <div class="row-col-lg-auto" align="left">
                            <small style="color: grey">
                                Your password should not:
                                <span class="fake-ul">
                            <span class="fake-li">Be less than 8 characters</span>
                            <span class="fake-li">Contain any personal information</span>
                            <span class="fake-li">Be Commonly Used</span>
                            <span class="fake-li">Be Entirely Numeric</span>
                            </span>
                            </small>
                        </div>
                    {% endif %}
                    </div>
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
        {% else %}
            <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
            </p>
        {% endif %}
    </form>
{% endblock %}