{% extends 'registration/base.html' %}
{% load static %}

{% block content %}
<form class="form-signin" method="post">
    {% csrf_token %}
    {% for field in form %}
        <p>
        <div class="row">
            <div class="col col-lg-3" align="right">
                {{ field.label_tag }}
            </div>
            <div class="col-lg-auto">
                {{ field }}
            </div>
            <div class="row-col-lg-auto" align="left">
                <small style="color: grey">Please enter the email associated with the account.</small>
            </div>
        </div>
        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
    {% endfor %}
    <div class="container">
    </div>
    <br>
    <button class="btn btn-lg btn-primary" type="submit">Reset Password</button>
</form>
{% endblock %}