{% extends 'users/base.html' %}
{% load static %}

{% block content %}

<form class="form-signin" method="post" xmlns:style="http://www.w3.org/1999/xhtml">
    {% csrf_token %}
    {% if messages %}
        <br>
        <div>
            <ul class="messages">
                {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" style="width:70vh; margin:auto;max-width: 100%;padding-right: initial;padding-left: initial">
                                <button type="button" class="btn-md close" style='width: 10vh; margin: auto auto -40px' data-dismiss="alert" aria-label="Close">
                                    <span
                                        aria-hidden="true">&times;
                                    </span>
                                </button>
                                <strong>
                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                        Error
                                    {% else %}
                                        {{ message.tags|title }}{% endif %}!
                                </strong>
                                 {{ message }}
                            </div>
                            <br>
                        {% endfor %}
                {% endif %}
            </ul>
        </div>
    {% endif %}
    <br>
    <div class="container">
        {% for field in form %}
            <p>
            <div class="row">
                <div class="col col-lg-3" align="right">
                    {{ field.label_tag }}
                </div>
                <div class="col-lg-auto">
                    {{ field }}
                </div>
                {% if field.help_text %}
                    <div class="row-col-lg-auto" align="left">
                        <small style="color: grey">{{ field.help_text }}</small>
                    </div>
                {% endif %}
            </div>
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
        {% endfor %}
    </div>
    <br>
    <button class="btn btn-lg btn-primary" type="submit">Create Account</button>
</form>

{% endblock %}